@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Rubik:300,400,700&display=swap');
// Colors
$balanced: #C80D0F;
$energy: #831441;
$success: #118823;
$spirit: #ffdcdc;
$flow: #EFEFEF;
$soft: #ffe8e3;

$epic: #FFD6D8;
$future: #FFE8E3;
$past: #FFF6E3;
$calm: #E3FFF8;
$motion: #E3E6FF;
$still: #E3F4FF;

$dark: black;
$light: white;
$dark-500: #4F4F4F;
$dark-400: #9C9C9C;
$light-gray: #757575;

$mouseColor: rgba(40, 215, 161, 0.3);

// Typography
$main-font: 'Rubik', sans-serif;
$alt-font: 'Playfair Display', serif;

$box-shadow: 0 5px 14px 1px rgba(0,0,0,0.1);

$border-radius: 4px;
